@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    font-family: Roboto, system-ui, sans-serif;
    /* color: white; */
  }
}

* {
  box-sizing: border-box;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.back-face-hidden {
  backface-visibility: hidden;
}