@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    /* font-family: Roboto, system-ui, sans-serif; */
    /* color: white; */
    /* font-family: 'Amaranth', sans-serif; */
  }
}

* {
  box-sizing: border-box;
}

*::selection {
  background-color: hsl(48, 89%, 64%);
}
.selection-dark::selection {
  background-color: hsl(48, 86%, 53%);
}

.preserve-3d {
  transform-style: preserve-3d;
}

.back-face-hidden {
  backface-visibility: hidden;
}